$base-duration: 500ms;

// Colors
$color-1: #f1c40f;
$color-2: #4CA0FC;
$color-3: #E02FEE;
$profileBg:#fff;
$skillsBg:#3d3e42;
$profileColor:#9099a0;
$skillsColor:#9099a0; 
$linkColor:#66cc99;
$boldColor:#4a4e51;
$time:0.6s;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);

@import './Components/Loading/loading.scss';
@import './Components/Hero/hero.scss';
@import './Components/Skills/skills.scss';
@import './Components/Footer/footer.scss';



@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1500px)  { @content; }
  }
  @if $point == mama-bear {
    @media (max-width: 1200px)  { @content; }
  }
  @if $point == brother-bear {
    @media (max-width: 850px)  { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 450px)  { @content; }
  }
}


body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #7e7885;
    font-size: 20px;
    line-height: 1.3;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p > a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  color: transparent;
    background-image: linear-gradient(
286deg,#4CA0FC 23%,#E02FEE 76%);
}


.common__title {
    max-width: 60%;
    margin: 0 auto;
    padding: 1em 0;
}

.common__title__text {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -1.5px;
  color: rgba(black,0.8);
  position: relative;
  z-index: 100;
  text-align: center;
}

@media (min-width: 992px){
.common__title__text {
    font-size: 64px;
    letter-spacing: -2px;
}
}



// email 

.jSIwrL {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: var(--light-slate);
}

@media only screen and (max-width: 600px){
  .jSIwrL {
      display: none ;
  }
  }

.jJFfEJ {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.jJFfEJ a {
  margin: 20px auto;
  padding: 10px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.jJFfEJ::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}



.common__title__text__underlined:before {
  z-index: 5;
  content: "";
  width: 30%;
  position: absolute;
  bottom: 2px;
  height: 3px;
  right: 0;
  display: block;
  background: #E02FEE;
  transition: all .2s ease-in-out;
  transform: rotate(
1deg);
}
